*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#todohding{
  text-align: center;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 20px;
}
input{
  margin-right: 30px;
  margin-left: 80px;
}